@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.allProjects__wrapper {
  visibility: hidden;
}

.allProjects__wrapper .allProjects__nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  background-color: transparent;
}

.allProjects__wrapper .allProjects__nav .nav__logo {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 400;
  top: 8px;
  margin: 10px;
  margin-left: 20px;
}

.allProjects__wrapper .allProjects__nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 1.2rem;
  margin: 10px;
  margin-top: 10px;
  margin-right: 20px;
  list-style: none;
}

.allProjects__wrapper .allProjects__nav .nav__links .link {
  text-decoration: none;
  color: white;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.allProjects__wrapper .allProjects__nav .nav__links .link:hover {
  font-size: 1.3rem;
}

.allProjects__wrapper .allProjects__hero {
  width: 100%;
  height: 600px;
  background-color: #6930c3;
}

.allProjects__wrapper .allProjects__hero h1 {
  width: 600px;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.allProjects__wrapper .allProjects__hero p {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  margin: 0 auto;
  position: relative;
  top: 170px;
}

.allProjects__wrapper .allProjects__hero p a {
  color: white;
}

.allProjects__wrapper .allProjects__hero h2 {
  width: 600px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  top: 220px;
  text-decoration: underline;
}

.allProjects__wrapper .allProjects__hero p:nth-child(4) {
  font-size: 1.3rem;
  top: 300px;
}

.allProjects__wrapper .allProjects__grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 50px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
  top: 70px;
}

.allProjects__wrapper .allProjects__grid .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 30px;
      grid-template-areas: "one two";
}

.allProjects__wrapper .allProjects__grid .project__title {
  font-size: 1.7rem;
  font-weight: 500;
  color: #6930c3;
}

.allProjects__wrapper .allProjects__grid .project__description {
  font-size: 1.1rem;
  margin-top: 5px;
}

.allProjects__wrapper .allProjects__grid .project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.allProjects__wrapper .allProjects__grid .project__buttons a button {
  padding: 3px 10px;
  border: none;
  color: white;
  font-size: 1rem;
  height: 35px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #6930c3;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.allProjects__wrapper .allProjects__grid .project__buttons a button:hover {
  background-color: #804bd6;
}

.allProjects__wrapper .allProjects__grid .project__buttons a:nth-child(2) {
  margin-left: 20px;
}

.allProjects__wrapper .allProjects__grid .project__tags {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allProjects__wrapper .allProjects__grid .project__tags .tag img {
  margin-left: 10px;
  height: 22px;
}

.allProjects__wrapper .allProjects__grid .project .partOne {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.allProjects__wrapper .allProjects__grid .project .partTwo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.allProjects__wrapper .allProjects__grid .project .partTwo img {
  width: 500px;
  border-radius: 10px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.allProjects__wrapper .allProjects__grid .project .partTwo img:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1170px) {
  .allProjects__wrapper .allProjects__grid {
    width: 900px;
  }
  .allProjects__wrapper .allProjects__grid .project {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "one" "two";
  }
}

@media only screen and (max-width: 970px) {
  .allProjects__wrapper .allProjects__grid {
    width: 100%;
    padding: 0px 2em;
  }
}

@media only screen and (max-width: 610px) {
  .allProjects__wrapper .allProjects__grid {
    padding: 0px 1em;
  }
  .allProjects__wrapper .allProjects__hero h1 {
    width: 100%;
    padding: 0 20px;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 540px) {
  .allProjects__wrapper .allProjects__grid .project .partTwo {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .allProjects__wrapper .allProjects__hero h1 {
    padding: 0 10px;
    font-size: 2rem;
  }
}

.wrapper a {
  color: #804bd6;
  font-size: 1.1rem;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

.wrapper h1 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-left: 20px;
}

.wrapper h1 span {
  color: #6930c3;
  font-weight: 600;
}

.wrapper h2 {
  font-weight: 400;
  margin-top: 10px;
  font-size: 1.8rem;
  margin-left: 20px;
}

.wrapper h2::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #6930c3;
  z-index: -1;
  margin-top: 23px;
  margin-left: 10px;
}

.wrapper h3 {
  font-weight: 300;
  margin-top: 10px;
  font-size: 1.5rem;
  margin-left: 20px;
}

.wrapper p {
  margin-top: 10px;
  font-size: 1.2rem;
  margin-left: 20px;
}

.wrapper p span {
  color: #6930c3;
  font-weight: 400;
}

.wrapper .imageWrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6930c3;
}

.wrapper .imageWrapper img {
  width: 700px;
  margin-top: 10px;
  border-radius: 10px;
}

.wrapper .imageWrapper h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.wrapper .fourImages {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 30px;
}

.wrapper .fourImages img {
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .footerContent {
  text-align: center;
  padding-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  font-weight: 300;
  scroll-behavior: smooth !important;
}

body {
  height: 100vh;
  display: block;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

.spinner {
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid #6930c3;
  border-bottom: 6px solid #6930c3;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.addon {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
}

.active {
  z-index: 999 !important;
  margin-top: 7px !important;
  position: fixed !important;
  right: 0px !important;
  top: 10px !important;
  margin-right: 20px !important;
}

.mobileUL {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 100% !important;
  width: 300px !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 998 !important;
  background-color: white !important;
  padding-top: 200px !important;
  -webkit-animation: fromLeft 400ms 1 linear;
          animation: fromLeft 400ms 1 linear;
}

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.mobileLink {
  color: black !important;
  text-align: center !important;
  margin-top: 30px !important;
}

.main {
  visibility: hidden;
}

.main .nav {
  position: absolute;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  width: 100%;
}

.main .nav .logo {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

.main .nav ul {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  list-style-type: none;
  font-weight: 300;
}

.main .nav ul a {
  color: white;
  text-decoration: none;
  padding: 0 0.7em;
  position: relative;
  top: -28px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.main .nav ul a:hover {
  font-size: 1.18rem;
}

.main .nav .hamburger {
  cursor: pointer;
  float: right;
  position: relative;
  top: -35px;
  display: none;
}

.main .nav .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-top: 7px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  border-radius: 4px;
}

.main .hero {
  width: 100%;
  height: 750px;
  background-color: #6930c3;
  padding-left: 3em;
  padding-top: 7.5em;
}

.main .hero h1 {
  width: 420px;
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
  line-height: 65px;
  position: relative;
  top: 30px;
}

.main .hero a button {
  width: 180px;
  height: 45px;
  outline: none;
  margin-top: 60px;
  border: none;
  border-radius: 4px;
  background-color: #2d8acc;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

.main .hero a button p {
  display: inline;
  position: relative;
  top: -16px;
  left: 11px;
}

.main .hero a button svg {
  stroke: white;
  width: 35px;
  margin-left: -15px;
  margin-top: 0px;
}

.main .hero .scroll {
  display: block;
  margin-top: 45px;
}

.main .hero .scroll .circle {
  animation: upDown 800ms infinite alternate-reverse;
}

.main .hero .keyboard {
  width: 630px;
  position: absolute;
  right: 0;
  top: 205px;
  margin-right: 60px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}

.main .hero .keyboard .keyAnimation {
  animation: upDownSlow 1000ms infinite alternate-reverse;
}

.main .hero .keyboard .key {
  cursor: pointer;
}

.main #work,
.main #skills,
.main #about,
.main #hire {
  position: relative;
  text-align: center;
  font-weight: 600;
  top: 80px;
  font-size: 1.9rem;
  color: #4a179b;
}

.main #skills {
  top: 225px;
}

.main #about {
  top: 517px;
}

.main #hire {
  top: 686px;
}

.main .portfolio {
  position: relative;
  top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 85px;
  width: 1100px;
  margin: 0 auto;
}

.main .portfolio .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 1fr;
      grid-template-columns: 45% 1fr;
  width: 100%;
  position: relative;
}

.main .portfolio .card .info .info_title {
  font-size: 1.3rem;
  color: #4a179b;
  letter-spacing: 2px;
  font-weight: 500;
}

.main .portfolio .card .info .info_content {
  margin: 10px 0px;
  font-weight: 400;
  font-size: 1.1rem;
}

.main .portfolio .card .info .info_tech {
  font-size: 1.2rem;
  color: #2d8acc;
  font-weight: 500;
}

.main .portfolio .card .info .technologies {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin-left: -7px;
}

.main .portfolio .card .info .technologies .tech {
  background-color: #2d8acc;
  padding: 4px 7px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  margin: 7px;
  margin-top: 3px;
}

.main .portfolio .card .info .buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .portfolio .card .info .buttons a button {
  width: 100px;
  border: none;
  color: white;
  font-size: 1rem;
  height: 35px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #6930c3;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  margin-left: 15px;
}

.main .portfolio .card .info .buttons a button:hover {
  background-color: #804bd6;
}

.main .portfolio .card a .image .card_image {
  height: 270px;
  float: right;
  width: 500px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  border-radius: 10px;
  animation: upDownSlow 1200ms infinite alternate-reverse;
}

.main .portfolio .card a .image .card_image:hover {
  opacity: 0.8;
}

.main .portfolio .card1::before {
  content: "";
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #e7d9ff;
  margin-top: 80px;
  margin-left: -70px;
  position: absolute;
  z-index: -1;
  top: -350px;
  left: 50px;
}

.main .portfolio .card2::before {
  content: "";
  border-style: solid;
  border-width: 110px 160px 110px 0;
  border-color: transparent #c7e8ff transparent transparent;
  position: absolute;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  z-index: -1;
  left: 500px;
  top: -150px;
}

.main .portfolio .card2::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #e7d9ff;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 70px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.main .portfolio .more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.main .portfolio .more button {
  padding: 5px 10px;
  background-color: #6930c3;
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  border-radius: 3px;
  cursor: pointer;
}

.main .portfolio .more button:hover {
  background-color: #804bd6;
}

.main .skills {
  width: 100%;
  background-color: #6930c3;
  height: 300px;
  position: relative;
  top: 250px;
}

.main .skills .frontend {
  width: 600px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
  top: 35px;
}

.main .skills .frontend h1 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  position: relative;
  top: 20px;
}

.main .skills .frontend p {
  padding: 0 35px;
  position: relative;
  top: 30px;
  font-size: 1.1rem;
}

.main .skills .design {
  width: 800px;
  height: 200px;
  position: relative;
  background-color: #6930c3;
  border-radius: 15px;
  margin: 0 auto;
  top: -30px;
  color: white;
}

.main .skills .design h1 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  position: relative;
  top: 30px;
}

.main .skills .design p {
  padding: 0 50px;
  position: relative;
  top: 45px;
  font-size: 1.1rem;
}

.main .skills .design::before {
  content: "";
  border-style: solid;
  border-width: 110px 160px 110px 0;
  border-color: transparent #c7e8ff transparent transparent;
  position: absolute;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
  z-index: -1;
  left: -100px;
  top: 180px;
}

.main .part1 {
  position: relative;
  top: 530px;
  width: 1100px;
  margin: 0 auto;
  font-size: 1.1rem;
}

.main .part2 {
  position: relative;
  top: 550px;
  padding: 20px 0px;
  margin: 0 auto;
  background-color: #6930c3;
  color: white;
  font-size: 1.1rem;
}

.main .part2 .content {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.main .part1::before {
  content: "";
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #e7d9ff;
  margin-top: 80px;
  margin-left: -70px;
  position: absolute;
  z-index: -1;
  top: 75px;
  left: 950px;
}

.main .hire {
  top: 710px;
  width: 100%;
  background-color: #6930c3;
  position: relative;
}

.main .hire .innerHire {
  width: 800px;
  padding: 0px 0px 60px 0px;
  position: relative;
  top: 50px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

.main .hire .innerHire p {
  font-size: 1.1rem;
  position: relative;
  top: 15px;
  padding: 10px 2.5em;
}

.main .hire .innerHire p span {
  font-weight: 400;
  font-size: 1.1rem;
}

.main .hire .innerHire form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  width: 800px;
  position: relative;
  top: 5px;
  padding: 0px 2.5em;
  grid-column-gap: 25px;
      grid-template-areas: "name email" "message message" "button .";
}

.main .hire .innerHire form input {
  height: 55px;
  border: none;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background-color: white;
  outline: none;
  padding: 15px;
  font-size: 1.1rem;
  width: 100%;
  font-weight: 400;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.main .hire .innerHire form textarea {
  border: none;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background-color: white;
  width: 100%;
  outline: none;
  resize: none;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 400;
  height: 150px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.main .hire .innerHire form .label {
  position: relative;
  font-size: 1.05rem;
  font-weight: 400;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  color: #4b00c4;
  top: 40px;
  left: 15px;
  background-color: white;
  z-index: 999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main .hire .innerHire form .messageLabel {
  top: 35px;
}

.main .hire .innerHire form .nameWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.main .hire .innerHire form .emailWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

.main .hire .innerHire form .messageWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

.main .hire .innerHire form button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
  width: 170px;
  height: 43px;
  border: none;
  outline: none;
  background-color: #6930c3;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  position: relative;
  top: 20px;
  text-align: start;
}

.main .hire .innerHire form button:hover {
  background-color: #804bd6;
}

.main .hire .innerHire form button span {
  display: inline;
  position: relative;
  top: -16px;
  left: 21px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1rem;
}

.main .hire .innerHire form button svg {
  stroke: white;
  width: 30px;
  position: relative;
  left: 10px;
}

.main .hire .innerHire .loading {
  border: 6px solid #ececec;
  border-radius: 50%;
  border-top: 6px solid #6930c3;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 999;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  top: -15px;
  opacity: 0;
  left: 233px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

.main .hire .innerHire .emailStatus {
  position: relative;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  opacity: 1;
  padding-bottom: 20px;
  padding-top: 0px;
  margin-top: -10px;
}

.main .hire .innerHire::before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #c7e8ff;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 550px;
  left: -60px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.main .footer {
  width: 100%;
  background-color: #6930c3;
  height: 230px;
  position: relative;
  bottom: 0;
  top: 1100px;
}

.main .footer p:nth-child(1) {
  color: white;
  font-size: 1.1rem;
  position: absolute;
  font-weight: 400;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 5px;
}

.main .footer p:nth-child(2) {
  text-align: center;
  font-size: 1.15rem;
  color: white;
  position: relative;
  top: 30px;
}

.main .footer .icons {
  position: relative;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 40px;
}

.main .footer .icons .github,
.main .footer .icons .linkedin,
.main .footer .icons .email {
  stroke: white;
  margin: 15px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.main .footer .icons .github:hover,
.main .footer .icons .linkedin:hover,
.main .footer .icons .email:hover {
  width: 49px;
  height: 49px;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translate(262px, 798px);
    transform: translate(262px, 798px);
  }
  100% {
    -webkit-transform: translate(262px, 830px);
    transform: translate(262px, 830px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translate(262px, 798px);
    transform: translate(262px, 798px);
  }
  100% {
    -webkit-transform: translate(262px, 830px);
    transform: translate(262px, 830px);
  }
}

@-webkit-keyframes upDownSlow {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDownSlow {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (max-width: 500px) {
  .main #about {
    top: 570px;
  }
  .main .part1 {
    top: 600px;
  }
  .main .part2 {
    top: 610px;
  }
  .main #hire {
    top: 750px;
  }
  .main .hire {
    top: 780px;
  }
}

@media only screen and (min-width: 1460px) {
  .main .hero {
    height: 800px;
  }
}

@media only screen and (max-width: 1240px) {
  .main .hero .keyboard {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1190px) {
  .main .hero .keyboard {
    width: 550px;
  }
}

@media only screen and (max-width: 1140px) {
  .main .portfolio {
    padding: 0px 7em;
    width: auto;
    margin: 0 auto;
    top: 100px;
  }
  .main .portfolio .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-row-gap: 40px;
  }
  .main .portfolio .card .image {
    float: left;
  }
  .main .portfolio .card .image .card_image {
    height: 270px;
    width: 500px;
  }
  .main .portfolio .card2::after {
    top: 600px;
    left: 0px;
  }
  .main .part1 {
    width: auto;
    padding: 0px 1em;
  }
  .main .part2 {
    padding: 20px 1em;
  }
  .main .part2 .content {
    width: auto;
  }
  .main .part1::before {
    top: 120px;
    left: 80px;
  }
}

@media only screen and (max-width: 1100px) {
  .main .hero .keyboard {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .main .portfolio {
    padding: 0px 2.5em;
  }
  .main .hero,
  .main .nav {
    padding-left: 2em;
  }
  .main .portfolio .card2::before {
    left: 300px;
    top: -120px;
  }
  .main .skills .frontend {
    width: 80%;
    height: auto;
    padding-bottom: 5em;
  }
  .main .skills .frontend p {
    padding: 0px 25px;
  }
  .main .skills .design {
    width: 90%;
    height: auto;
    padding-bottom: 5em;
    top: 0px;
  }
  .main .skills .design p {
    padding: 0px 25px;
  }
  .main .skills .design::before {
    left: 70px;
    top: 170px;
  }
  .main .hire .innerHire {
    width: 90%;
    height: auto;
  }
  .main .hire .innerHire form {
    width: 100%;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "name" "email" "message" "button";
  }
  .main .hire .innerHire::before {
    top: 660px;
    left: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .main .nav ul {
    display: none;
  }
  .main .nav .hamburger {
    display: block;
  }
  .main .part1::before {
    top: 200px;
    left: 30px;
  }
}

@media only screen and (max-width: 584px) {
  .main .part1::before {
    top: 280px;
    left: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .main .nav {
    padding-left: 15px;
    padding-right: 20px;
  }
  .main .hero {
    padding-top: 9.5em;
    padding-left: 17px;
  }
  .main .hero h1 {
    font-size: 2.2rem;
    line-height: 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 50px;
  }
  .main .portfolio {
    padding: 0px 20px;
  }
  .main .portfolio .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-row-gap: 40px;
  }
  .main .portfolio .card .image .card_image {
    float: unset;
    margin: 0 auto;
    height: 270px;
    width: 500px;
  }
  .main .portfolio .card2::after {
    top: 640px;
    left: 30px;
  }
  .main .portfolio .card2::before {
    left: 50px;
    top: -120px;
  }
  .main .hire .innerHire p {
    padding: 10px 25px;
  }
  .main .hire .innerHire form {
    padding: 0px 25px;
  }
  .main .hire .innerHire form button p {
    left: 4px;
  }
}

@media only screen and (max-width: 540px) {
  .main .portfolio {
    grid-row-gap: 50px;
  }
  .main .portfolio .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-row-gap: 40px;
  }
  .main .portfolio .card .image {
    display: none;
  }
  .main .portfolio .card2::after {
    top: 390px;
    left: 26px;
    opacity: 0.6;
  }
  .main .portfolio .card2::before {
    opacity: 0.6;
  }
  .main .hire .innerHire::before {
    opacity: 0.8;
  }
  .main .part1::before,
  .main .skills .design::before {
    opacity: 0.6;
  }
}

@media only screen and (max-width: 480px) {
  .main .part1::before {
    top: 320px;
    left: 30px;
  }
  .main #about {
    top: 600px;
  }
  .main .part1 {
    top: 620px;
  }
  .main .part2 {
    top: 630px;
  }
}

@media only screen and (max-width: 440px) {
  .main .part1::before {
    top: 370px;
    left: 30px;
  }
  .main .hire .innerHire::before {
    top: 690px;
    left: 50px;
  }
}

@media only screen and (max-width: 470px) {
  .main .skills .frontend {
    top: 15px;
    width: 95%;
    padding-bottom: 7em;
  }
  .main .skills .frontend p {
    padding: 0px 15px;
    font-size: 1rem;
  }
  .main .skills .design {
    width: 97%;
    height: auto;
    padding-bottom: 2.5em;
    top: -50px;
  }
  .main .skills .design p {
    padding: 0px 15px;
    top: 20px;
    font-size: 1rem;
  }
  .main .skills .design h1 {
    top: 11px;
  }
  .main .skills .design::before {
    left: 70px;
    top: 170px;
  }
}

@media only screen and (max-width: 385px) {
  .main .part1::before {
    top: 420px;
  }
  .main .hire .innerHire::before {
    top: 730px;
    left: 30px;
  }
}

@media only screen and (max-width: 370px) {
  .main .part1::before {
    top: 490px;
  }
}

@media only screen and (max-width: 340px) {
  .main .part1::before {
    top: 520px;
  }
}
/*# sourceMappingURL=main.css.map */