.allProjects__wrapper {
  visibility: hidden;
  .allProjects__nav {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: transparent;
    .nav__logo {
      font-size: 1.3rem;
      text-decoration: none;
      color: white;
      position: relative;
      font-weight: 400;
      top: 8px;
      margin: 10px;
      margin-left: 20px;
    }
    .nav__links {
      display: flex;
      float: right;
      font-size: 1.2rem;
      margin: 10px;
      margin-top: 10px;
      margin-right: 20px;
      list-style: none;

      .link {
        text-decoration: none;
        color: white;
        transition: all 200ms linear;
        &:hover {
          font-size: 1.3rem;
        }
      }
    }
  }

  .allProjects__hero {
    width: 100%;
    height: 600px;
    background-color: $main-color;
    h1 {
      width: 600px;
      text-align: center;
      font-weight: 500;
      font-size: 2.5rem;
      color: white;
      margin: 0 auto;
      position: relative;
      top: 150px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 1.2rem;
      color: white;
      margin: 0 auto;
      position: relative;
      top: 170px;
      a {
        color: white;
      }
    }
    p:nth-child(3) {
      font-size: 1.05rem;
      top: 300px;
    }
  }

  .allProjects__grid {
    display: grid;
    grid-row-gap: 50px;
    width: 1100px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
    top: 70px;
    .project {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      grid-gap: 30px;
      grid-template-areas: "one two";

      &__title {
        font-size: 1.7rem;
        font-weight: 500;
        color: $main-color;
      }

      &__description {
        font-size: 1.1rem;
        margin-top: 5px;
      }

      &__buttons {
        display: flex;
        margin-top: 10px;
        a button {
          padding: 3px 10px;
          border: none;
          color: white;
          font-size: 1rem;
          height: 35px;
          outline: none;
          cursor: pointer;
          border-radius: 4px;
          background-color: $main-color;
          transition: all 300ms ease-in;
          &:hover {
            background-color: $main-hover;
          }
        }
        a:nth-child(2) {
          margin-left: 20px;
        }
      }

      &__tags {
        margin-top: 15px;
        display: flex;
        margin-left: -10px;
        flex-wrap: wrap;
        .tag {
          img {
            margin-left: 10px;
            height: 22px;
          }
        }
      }

      .partOne {
        grid-area: one;
      }

      .partTwo {
        grid-area: two;
        img {
          width: 500px;
          border-radius: 10px;
          transition: all 300ms linear;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .allProjects__wrapper .allProjects__grid {
    width: 900px;
  }
  .allProjects__wrapper .allProjects__grid .project {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "one"
      "two";
  }
}

@media only screen and (max-width: 970px) {
  .allProjects__wrapper .allProjects__grid {
    width: 100%;
    padding: 0px 2em;
  }
}

@media only screen and (max-width: 610px) {
  .allProjects__wrapper .allProjects__grid {
    padding: 0px 1em;
  }
  .allProjects__wrapper .allProjects__hero h1 {
    width: 100%;
    padding: 0 20px;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 540px) {
  .allProjects__wrapper .allProjects__grid .project .partTwo {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .allProjects__wrapper .allProjects__hero h1 {
    padding: 0 10px;
    font-size: 2rem;
  }
}
